# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Runtime Data
# =========================
data/

# Logs
*.log

# Lock files
*.lock

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Environment Variables
# =========================
.env

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store
